*.jar
old_*
*.log
*/logs
eula.txt
*.db
*.csv
*cache*
version_history.json
whitelist.json
ops.json
banned-ips.json
banned-players.json
*database*
*/world_nether/
*/world_the_end
*/world/
*/tmp/
*/plugins/bStats/
*/plugins/LuckPerms/translations/
.*
server/plugins/*/players/
server/plugins/UltimateAntiBot/whitelist.yml
server/plugins/Multiverse-Inventories/groups/
server/plugins/Multiverse-Inventories/worlds/
server/plugins/IllegalStack/config.yml
server/plugins/DiscordSRV/config.yml
server/plugins/DiscordSRV/alerts.yml
server/plugins/DiscordSRV/linking.yml
server/plugins/DiscordSRV/synchronization.yml
server/plugins/DiscordSRV/voice.yml
server/plugins/DiscordSRV/linkedaccounts.json
