*.jar
old_*
*.log
*/logs
eula.txt
*.db
*.csv
*cache*
version_history.json
whitelist.json
ops.json
banned-ips.json
banned-players.json
*database*
*/world_nether/
*/world_the_end
*/world/
*/tmp/
*/plugins/bStats/
*/plugins/LuckPerms/translations/
*.data
.*
*.old
server/server.properties
server/plugins/*/players/
server/plugins/*/logs/
server/plugins/UltimateAntiBot/whitelist.yml
server/plugins/Multiverse-Inventories/groups/
server/plugins/Multiverse-Inventories/worlds/
server/plugins/IllegalStack/config.yml
server/plugins/DiscordSRV/config.yml
server/plugins/DiscordSRV/alerts.yml
server/plugins/DiscordSRV/linking.yml
server/plugins/DiscordSRV/synchronization.yml
server/plugins/DiscordSRV/voice.yml
server/plugins/DiscordSRV/linkedaccounts.json
server/plugins/ProtocolLib/lastupdate
server/start.sh
server/plugins/AdvancedBan/data/storage.properties
server/plugins/AdvancedBan/data/storage.script
server/plugins/SkinsRestorer/Skins/
server/plugins/WorldEdit/schematics/
server/plugins/GriefPreventionData/ClaimData
server/plugins/GriefPreventionData/PlayerData

server/plugins/Vulcan
server/plugins/BungeeGuard
server/plugins/IllegalStack/OffenseLog.txt
server/new_world**

/proxy
*world.zip